* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    color: #ecf0f196;
    
}

h1,
h3 {
    text-align: center;
    width: 100%;
    margin-top: 15px;
}

h3 {
    letter-spacing: 1px;
}

.input {
    text-align: center;
    margin-top: 10px;
}

.input input {
    height: 25px;
    font-size: 20px;
    width: 140px;
    text-align: center;
    background-color: #2c3e50;
    border: solid 1px;
    color: #ecf0f196;
}

.btn1 {
    display: block;
    width: 140px;
    height: 30px;
    margin: 10px auto;
    border:solid black 1px;
    color: #ecf0f196;
    background-color: black;
    transition: background-color 0.2s, border 0.2s;
    font-size: 95%;
  
}

.btn1:hover,
.btn1:active {
    background-color: #2c3e50;
    border:solid black 1px;
}

.error {
    text-align: center;
    margin-top: 50px;
    font-size: 120%;
}

.container-ski {
    width: 50%;
    float: left;
    text-align: right;
    padding-right: 7px;
    font-size: 130%;
}

.container-weight {
    width: 50%;
    float: right;
    padding-left: 7px;
    font-size: 130%;
}

footer {
    position: absolute;
    bottom: 0;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.171);
}

